*

!uptake_curve_processing/
!uptake_curve_processing/**

!run_only/
!run_only/**

!paper_plots/
!paper_plots/**

paper_plots/figure_5/combo_1/run_*/

!.gitignore
!CMakeLists.txt
!*.cpp
!*.py
!*.json
!*.h