*

!uptake_curve_processing/
!uptake_curve_processing/**

!run_only/
!run_only/**

!paper_plots/
!paper_plots/**

paper_plots/figure_5/combo_1/run_*/

!.gitignore
!CMakeLists.txt
!*.cpp
!*.py
!*.json
!*.h

!dist/
!dist/example/
dist/example/**
!dist/example/*.xlsx
!dist/example/run_only_input.json
!dist/*.txt
!dist/bin/
dist/bin/**
!dist/bin/*.cmd

!update_dist.ps1
!update_dist.sh

!.github/
!.github/**
